<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tjhq.commons.exception.core.message.dao.IExceptionDAO">
	
	<select id="loadException" resultType="com.tjhq.commons.exception.core.message.po.ExceptionInfoPO">
		SELECT guid, code, remark, message FROM DICT_T_EXCEPTION
	</select>
	
	<select id="loadExceptionByCode" resultType="com.tjhq.commons.exception.core.message.po.ExceptionInfoPO">
		SELECT guid, code, remark, message FROM DICT_T_EXCEPTION WHERE CODE = #{code}
	</select>
	
</mapper>