<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
       

    <!--
        MethodInvokingJobDetailFactoryBean,implements Job,extends QuartzJobBean
        1、定义工作任务的JobDetail
            MethodInvokingJobDetailFactoryBean与JobDetailFactoryBean
        2、定义触发器Trigger，并将工作任务与触发器绑定
            一个触发器只能绑定一个任务，一个任务可以被多个触发器绑定
        3、定义调度器Scheduler，并将trigger注册到Scheduler
    -->
    <bean id="mainTask_wfLog" class="com.hq.bpmn.schedule.service.BusiLogSchedulService"/>
    <!-- 你要执行的任务类 -->
    <bean id="mainJob_wfLog" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="mainTask_wfLog"/>
        <property name="targetMethod" value="addLocalLog"/>
    </bean>
    <bean id="timeTrigger_wfLog" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="mainJob_wfLog"/>
        <property name="cronExpression" value="0 0-59 17 * * ? 2020"/>
    </bean>

    <bean id="mainTask2_wfLog" class="com.hq.bpmn.schedule.service.BusiLogSchedulService"/>
    <bean id="mainJob2_wfLog" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
        <property name="targetObject" ref="mainTask2_wfLog"/>
        <property name="targetMethod" value="sendBusiLogId"/>
    </bean>
    <bean id="timeTrigger2_wfLog" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
        <property name="jobDetail" ref="mainJob2_wfLog"/>
        <!--<property name="cronExpression" value="0/10 * 0-23 * * ?"/>-->
        <property name="cronExpression" value="0 0-59 17 * * ? 2020"/>
    </bean>
    <bean id="2018;bpmnwf" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
        <property name="triggers">
            <list>
                <ref local="timeTrigger_wfLog"/>
                <ref local="timeTrigger2_wfLog"/>
            </list>
        </property>
    </bean>
</beans>